@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
  <div class="wrapper">
    <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

    <h1>Welcome to Data Central</h1>
    <p>Introduce you to business use case</p>
    <h2>Examples analysis results</h2>
    <p>Play documentation is available at <a href="https://www.playframework.com/documentation/2.5.13">https://www.playframework.com/documentation</a>.</p>
    <p>Play comes with lots of example templates showcasing various bits of Play functionality at <a href="https://www.playframework.com/download#examples">https://www.playframework.com/download#examples</a>.</p>

    <h2>Sign in or Create account</h2>
    <p>Play comes with lots of example templates showcasing various bits of Play functionality at <a href="https://www.playframework.com/download#examples">https://www.playframework.com/download#examples</a>.</p>
</article>

<aside>
    <h3>Data Warehouse</h3>
    <ul>
        <li><a href="https://playframework.com/documentation/2.5.13">Documentation</a></li>
        <li><a href="https://playframework.com/documentation/2.5.13/api/scala/index.html">Browse the Scala API</a></li>
    </ul>
    <h3>Tutorials</h3>
    <ul>
        <li><a href="https://playframework.com/documentation/2.5.13/PlayConsole">Using the Play console</a></li>
        <li><a href="https://playframework.com/documentation/2.5.13/IDE">Setting up your preferred IDE</a></li>
        <li><a href="https://playframework.com/download#examples">Example Projects</a>
        </li></ul>
    <h3>Forums</h3>
    <ul>
        <li><a href="https://stackoverflow.com/questions/tagged/playframework">Stack Overflow</a></li>
        <li><a href="http://groups.google.com/group/play-framework">Mailing List</a></li>
        <li><a href="https://gitter.im/playframework/playframework">Gitter Channel</a></li>
    </ul>
</aside>

</div>
}